<div class="container" style="margin-top: 100px; width: 300px; height: 200px;">
    <form action="/login" method="POST" style="border: 1px solid black; width: 300px; height: 124px; padding:10px">
        <label for="username">username:</label>
        <input type="text" name="username" /><br>
        <label for="password">password:</label>
        <input type="password" name="password" /><br>
        <input type="submit" name="register" value="register" style="margin-left: 100px;" />
    </form>
</div>