<div class="container">
    <form action="/products/search-products" method="POST">
        <div class="form-group">
            <label for="pname">Product Name</label>
            <input type="text" class="form-control" name="pName" id="pname" aria-describedby="pname" placeholder="product name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>